fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
python-dotenv
pdfplumber
python-multipart
google-generativeaigit mv Alarmstudy_Server\backend\app\main.py server\app\main.py